body {
  background-color: rgb(34, 34, 34);
}

.classdiv {
  width: 100%;
  height: 100%;
  display: flex;
}

.bordure {
  width: 20%;
  height: 100%;
  background-color: grey;
  display: inline;
}

.newbordure {
  width: 80%;
}

.bordure .save {
  display: inline;
}

.App {
  background-color: grey;
  border: 0;
  height: 100px;
  width: 78%;
  margin: 10px;
  color: red;
  padding: 5px;
}

.itemtitle {
  color: red;
  font-weight: bold;
}

.App:focus {
  outline: none;
}

#notepad {
  display: block;
  height: 70%;
}

.Apptext {
  background-color: grey;
  border: 0;
  height: 400px;
  width: 78%;
  margin: 10px;
  color: white;
  padding: 5px;
}

.Apptext:focus {
  outline: none;
}

.save {
  background-color: rgb(255, 0, 64);
  height: 50px;
  width: 150px;
  margin: 10px;
  display: block;
  color: white;
}